twilio
django
social-auth-app-django
django-background-tasks
djangorestframework
markdown
django-chartjs
spacy
wordcloud
nltk==3.4.3
tensorflow==1.14.0
numpy==1.16.4
imutils==0.5.3
opencv_contrib_python==4.1.1.26
django-bootstrap3
bootstrap4
django-tables2
tweepy
tablib
django-filter==2.2.0
pytesseract
urllib3
matplotlib